header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .logo-wrapper {
        img {
            width: 80px;
        }
    }
}

@media screen and (max-width: 767px) {
    header {
        .logo-wrapper {
            img {
                width: 60px;
            }
        }
    }
}